body {
	font-family: 'Open Sans', sans-serif;
	background-color: #eee;	
}

.jumbotron {
    height: 350px;
    margin-top: 15px;
    margin-bottom: 0px;
    background-image: url(images/Blois_Loire_Panorama.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Calligraffitti', cursive;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    border-radius: 0px;
    }

.container .jumbotron {
	border-radius: 6px;
}

.navbar {
	margin-bottom: 0px;
	background-color: #6969ff;
	border-radius: 0px;
}

.navbar-header {
	color: black;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

#sidebar {
	background: #d2d2d2;
	border-color: navy;
	border-width: 50px;
	height: 500px;
	padding-top: 10px;
	border-radius: 6px;
}

.sidebartext {
	font-style: italic;
}

.btnsidebar{
	background: #696969;
	margin-top: 10px;
}

#sunshine {
	width: 158px;
	height: 161px;
	margin: 0 auto;
}

